<section class="footer-top-section text-white spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-widget about-widget">
          <img src="../../../assets/img/logo.png" alt="logo">
          <p>Proin gravida nibh vel velit auctor aliquet, aenean sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum.Proin gravida nibh vel velit auctor aliquet, aenean sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum</p>
          <div class="fw-social social">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook-official"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
        <h4 class="fw-title">Usefull Links</h4>
        <div class="row">
        <div class="col-sm-6">
        <ul>
        <li><a href="">Web Hosting</a></li>
        <li><a href="">WordPress Hosting</a></li>
        <li><a href="">VPS Hosting</a></li>
        <li><a href="">Cloud Server</a></li>
        <li><a href="">Reseller Package</a></li>
        <li><a href="">Dedicated Hosting</a></li>
        </ul>
        </div>
        <div class="col-sm-6">
        <ul>
        <li><a href="">Web Hosting</a></li>
        <li><a href="">WordPress Hosting</a></li>
        <li><a href="">VPS Hosting</a></li>
        <li><a href="">Cloud Server</a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <div class="form">
            <h4 class="fw-title">Latest Posts</h4>
            <!-- Form itself -->
               <form name="sentMessage" class="well" id="contactForm" novalidate="">
          <div class="control-group">
                        <div class="form-group">
           <input type="text" class="form-control" placeholder="Full Name" id="name" required="" data-validation-required-message="Please enter your name">
             <p class="help-block"></p>

            </div>
                </div>
                     <div class="form-group">
                       <div class="controls">
           <input type="email" class="form-control" placeholder="Email" id="email" required="" data-validation-required-message="Please enter your email">
         </div>
           </div>

                    <div class="form-group">
                      <div class="controls">
              <textarea rows="10" cols="100" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter your message" minlength="5" data-validation-minlength-message="Min 5 characters" maxlength="999" style="resize:none"></textarea>
         </div>
                    </div>
            <div id="success"> </div> <!-- For success/fail messages -->
           <button type="submit" class="btn btn-primary pull-right" style="background-color: #EB2B63; border:none">Send</button><br>
               </form>
             </div>
        </div>
      </div>